{% extends 'base.html' %}

{% block meta %}
<title>Buat Task</title>
{% endblock meta %}

{% block content %}
{% comment %} Navbar {% endcomment %}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Todolist</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-top-buttons" aria-controls="navbar-top-buttons" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-top-buttons">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'todolist:show_todolist' %}">Lihat Todolist</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'todolist:logout_user' %}">Logout</a>
            </div>
            <div class="navbar-text ms-auto">
                <span class="mb-1">Anda login sebagai: {{username}}</span>
            </div>
        </div>
    </div>
</nav>

<div class="container-md mt-3">
    <h1 class="mb-4">Buat Task</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table class="mb-4">
            <tr class="row">
                <div class="form-floating col-lg-4 mb-2">
                    <input type="text" name="title" required id="id_title" placeholder="Judul Task" class="form-control">
                    <label for="id_title" class="form-label">Judul Task</label>
                </div>
            </tr>
            <tr class="row mb-4">
                <div class="form-floating col-lg-4 mb-4">
                    <textarea type="text" name="description" required id="id_description" placeholder="Deskripsi Task" class="form-control" style="height: 125px"></textarea>
                    <label for="id_description" class="form-label">Deskripsi Task</label>
                </div>
            </tr>
            <tr class="row">
                <div class="form-floating mb-3 d-grid d-lg-block">
                    <input class="btn btn-primary btn-lg" type="submit" name="submit" value="Buat Task" />
                </div>   
            </tr>
        </table>
    </form>

    {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show">
        <ul class="list-unstyled">
            <li><strong>Pembuatan task gagal!</strong></li>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
</div>

{% endblock content %}