{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
<!-- Styling per Bootstrap Sign-In Example https://getbootstrap.com/docs/5.2/examples/sign-in/ -->
<style>
    body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }
</style>
{% endblock meta %}

{% block content %}

<div class="login container-md mt-3">

    <h1 class="display-2 mb-4">Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table class="mb-4">
            <tr class="row">
                <div class="form-floating mb-3 col-lg-4">
                    <input type="text" id="login-field-username" name="username" placeholder="Username" class="form-control">
                    <label for="login-field-username" class="form-label">Username</label>
                </div>
            </tr>

            <tr class="row">
                <div class="form-floating mb-4 col-lg-4">
                    <input type="password" id="login-field-password" name="password" placeholder="Password" class="form-control">
                    <label for="login-field-password" class="form-label">Password</label>
                </div>
            </tr>

            <tr class="row">
                <div class="form-floating mb-3 d-grid d-lg-block">
                    <input class="btn btn-primary btn-lg login_btn" type="submit" value="Login">
                </div>
            </tr>
        </table>
    </form>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show col-lg-4">
                <ul class="list-unstyled">
                    <li><strong>Pesan</strong></li>
                    <li>{{ message }}</li>
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="text-muted">
        Belum mempunyai akun? <a href="{% url 'todolist:register_user' %}">Buat Akun</a>
    </div>
    

</div>

{% endblock content %}