{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
<!-- Styling per Bootstrap Sign-In Example https://getbootstrap.com/docs/5.2/examples/sign-in/ -->
<style>
    body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }
</style>
{% endblock meta %}

{% block content %}

<div class="login container-md mt-3">

    <h1 class="display-2 mb-4">Register</h1>

    <form method="POST">
        {% csrf_token %}
        <table>
            <tr class="row">
                <div class="form-floating col-lg-4 mb-3">
                    <input type="text" name="username" required id="id_username" placeholder="Username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus class="form-control" aria-describedby="help-username">
                    <label for="id_username" class="form-label">Username</label>
                    <div id="help-username" class="form-text">
                        Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                    </div>
                </div>
            </tr>
            <tr class="row">
                <div class="form-floating col-lg-4 mb-3">
                    <input type="password" name="password1" required id="id_password1" placeholder="Password" autocapitalize="none" autocomplete="new-password" class="form-control" aria-describedby="help-password1">
                    <label for="id_password1" class="form-label">Password</label>
                    <div id="help-password1" class="form-text">
                        Your password can't be too similar to your other personal information. Your password must contain at least 8 characters. Your password can't be a commonly used password. Your password can't be entirely numeric.
                    </div>
                </div>
            </tr>
            <tr class="row">
                <div class="form-floating col-lg-4 mb-4">
                    <input type="password" name="password2" required id="id_password2" placeholder="Confirm password" autocapitalize="none" autocomplete="new-password" class="form-control" aria-describedby="help-password2">
                    <label for="id_password2" class="form-label">Confirm password</label>
                    <div id="help-password2" class="form-text">
                        Enter the same password as before, for verification.
                    </div>
                </div>
            </tr>
            <tr>
                <td><input class="btn btn-primary btn-lg" type="submit" name="submit" value="Daftar" /></td>
            </tr>
        </table>
    </form>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</div>

{% endblock content %}