{% extends 'base.html' %}

{% block content %}
<h4>Anda login sebagai: </h4>
<p>{{username}}</p> {% comment %} Username diambil dari context pada view {% endcomment %}

<table>
    <tr>
        <th>Tanggal Pembuatan Task</th>
        <th>Judul Task</th>
        <th>Deskripsi Task</th>
        <th>Task Selesai?</th>
        <th>Toggle Task Selesai</th>
        <th>Hapus Task</th>
    </tr>
    {% comment %} Cetak tabel dengan detail tiap task {% endcomment %}
    {% for task in task_list %}
    <tr>
        <td>{{task.date}}</th>
        <td>{{task.title}}</th>
        <td>{{task.description}}</th>
        <td>{{task.is_finished}}</td>
        <td>
            <form method="post" action="modify-task/">
                {% csrf_token %}
                <input type="hidden" name="task_pk" value={{task.pk}}>
                {% if task.is_finished %}
                <button name="action" value="unfinish"> Un-Selesaikan Task
                {% else %}
                <button name="action" value="finish"> Selesaikan Task
                {% endif %}
            </form>
        </td>
        <td>
            <form method="post" action="modify-task/">
                {% csrf_token %}
                <input type="hidden" name="task_pk" value={{task.pk}}>
                <button name="action" value="delete"> Hapus Task
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<button><a href="{% url 'todolist:create_task' %}">Buat Task Baru</a></button>
<button><a href="{% url 'todolist:logout_user' %}">Logout</a></button>

{% endblock content %}