{% extends 'base.html' %}

{% block content %}

{% comment %} Navbar {% endcomment %}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Todolist</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-top-buttons" aria-controls="navbar-top-buttons" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-top-buttons">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'todolist:create_task' %}">Buat Task Baru</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'todolist:logout_user' %}">Logout</a>
            </div>
            <div class="navbar-text ms-auto">
                <span class="mb-1">Anda login sebagai: {{username}}</span>
            </div>
        </div>
    </div>
</nav>

<div class="container-md">
    <!--<h4>Anda login sebagai: </h4>
    <p>{{username}}</p> {% comment %} Username diambil dari context pada view {% endcomment %} -->

    <div class="row row-cols-1 row-cols-md-4 gap-3 mb-3"> 
        {% for task in task_list %}
        {% if task.is_finished %}
            <div class="col card border border-success px-0">
        {% else %}
            <div class="col card border border-danger px-0">
        {% endif %}
                <div class="card-body">
                    <h4 class="card-title"><strong>{{task.title}}</strong></h4>
                    <h5 class="card-subtitle mb-2 text-muted">{{task.date}}</h5>
                    {% if task.is_finished %}
                        <h6 class="card-subtitle mb-2 text-success">Done</h6>
                    {% else %}
                        <h6 class="card-subtitle mb-2 text-danger">Not Done</h6>
                    {% endif %}
                    <p class="card-text">{{task.description}}</p>
                </div>
                <div class="card-footer">
                    <div>
                        <form method="post" action="modify-task/">
                            {% csrf_token %}
                            <input type="hidden" name="task_pk" value={{task.pk}}>
                            <div class="btn-group" role="group">
                                {% if task.is_finished %}
                                <button class="btn btn-secondary" name="action" value="unfinish"> Ubah Status </button>
                                {% else %}
                                <button class="btn btn-secondary" name="action" value="finish"> Ubah Status </button>
                                {% endif %}
                                <button class="btn btn-danger" name="action" value="delete"> Hapus Task </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% empty %}
        </div>
        <div class="">
            <h4 class="text-center">Tidak ada task dalam todolist.</h4>
            <h5 class="text-center text-muted fst-italic">Yuk, <a href="{% url 'todolist:create_task' %}">buat task baru</a>!</h5>
        </div>
        {% endfor %}  
</div>

<!-- <button><a href="{% url 'todolist:create_task' %}">Buat Task Baru</a></button>
<button><a href="{% url 'todolist:logout_user' %}">Logout</a></button> -->

{% endblock content %}